.rounded {
    border-radius: 10px;
}

.circleIcon {
    color: #124b8a;
}

.custom_textfield {
    borderColor: #124b8a;
}

.custom_icon {
    margin-right: -8px;
}

.custom_textfield_bold {
    font-weight: bold;
}

.search_bar {
    display: end;
    overflow: hidden;
    justify-content: flex-end;
}

.search_bar .MuiTextField_root {
    margin-right: 10px;
}
